@import 'src/scss/vars';

.cooltable {
    width: 40vw;

    @media screen and (max-width: 768px) {
        width: 90vw;

        thead tr th h1 {
            font-size: 2rem !important;
        }
    }
}

.cooltable2 {
    @media screen and (max-width: 768px) {
        width: 90vw !important;
    }

    thead tr th {
        border-color: rgba($ww, 0.25);
    }

    tbody tr td {
        border-color: rgba($ww, 0.25);
    }

    tbody tr:not(.is-selected):hover {
        background-color: rgba($ww, 0.2) !important;
    }

    tbody tr:last-child {
        td {
            color: $ww !important;
            // font-size: 1.5rem;
        }
    }
}
