.logo {
    @media screen and (max-width: 769px) {
        justify-content: center;

        #img {
            width: 100px !important;
        }

        .title {
            font-size: 3rem !important;
        }
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        justify-content: flex-start;

        #img {
            width: 100px !important;
        }

        .title {
            font-size: 3.5rem !important;
        }
    }

    .title {
        font-size: 4.5rem;
    }
}
