.maintitle {
    font-size: 5rem !important;
    font-weight: 700;

    @media screen and (max-width: 769px) {
        font-size: 3rem !important;
    }
}

.ccont {
    margin: 0 3rem;

    @media screen and (max-width: 769px) {
        margin: 0 1.5rem;
    }
}

.ctitle {
    font-size: 6rem !important;
    font-weight: 700 !important;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: calc(100% + 40px);
        display: block;
        width: 20px;
        height: 20px;
        top: 40%;
        background-color: #bdbdbd;
        border-radius: 2px;
        transform: rotate(45deg) translateY(-50%);
        margin-top: 1rem;
        border-bottom-left-radius: 100%5px;
        border-bottom-right-radius: 100%5px;
        border-top-left-radius: 100%5px;
        border-top-right-radius: 100%5px;
    }
    // make last child background transparent
    &:last-child {
        background: red;
        &::after {
            background-color: red;
        }
    }

    @media screen and (max-width: 769px) {
        font-size: 2rem !important;

        &::after {
            left: calc(100% + 20px);
            width: 15px;
            height: 15px;
            top: 5%;
            border-radius: 5px;
        }

        + h1 {
            font-size: 1.2rem !important;
        }
    }
}

.cnone {
    &::after {
        display: none;
    }
}

.divbanner {
    margin-bottom: 6rem;

    @media screen and (max-width: 769px) {
        margin-bottom: 6rem;
    }
}

.videoo-container {
    height: calc(100vh - 80px);
    overflow: hidden;

    display: grid;
    place-items: center;

    &.vanish {
        animation: vanish 2s ease-in-out;
    }

    video {
        // position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }
}

@keyframes vanish {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.whole-c {
    position: relative;
}
