@import 'src/scss/vars';

.flag_image {
    // add shadow to the image
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.cooltitle {
    background-image: url(../../../../public/media/button_c.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 2rem;
    color: $burgundy;

    padding: 0.25rem 1.5rem;
}
