// import your fonts here and create a font-face rule for them

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=PT+Mono&display=swap');

// define font and import
@font-face {
    font-family: 'Qatar';
    src: url(../../public/media/fonts/Qatar2022Arabic-Medium.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'QatarArabic';
    src: url(../../public/media/fonts/Qatar2022Arabic-Medium.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'QatarBold';
    src: url(../../public/media/fonts/Qatar2022-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

.has-font-qatar {
    font-family: 'Qatar', sans-serif;
    font-weight: 900 !important;
}

.has-font-qatar-bold {
    font-family: 'QatarBold', sans-serif;
}

.has-font-qatar-arabic {
    font-family: 'QatarArabic', sans-serif;
}

.has-font-airborne {
    font-family: 'Airborne', sans-serif;
}

.has-font-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.has-font-ptmono {
    font-family: 'PT Mono', monospace;
}

// *:not(.has-font-airborne):not(i) {
//     font-family: 'Montserrat', sans-serif;
// }
