// import your fonts here and create a font-face rule for them

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=PT+Mono&display=swap');

// define font and import
@font-face {
    font-family: 'Akira';
    src: url(/media/fonts/Akira.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'QatarArabic';
    src: url(/media/fonts/Qatar2022Arabic-Medium.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'QatarBold';
    src: url(/media/fonts/Qatar2022-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

.has-font-akira {
    font-family: 'Akira', sans-serif;
    font-weight: 400 !important;
}

.has-font-qatar-baold {
    font-family: 'QatarBold', sans-serif;
}

.has-font-qatar-araabic {
    font-family: 'QatarArabic', sans-serif;
}

.has-font-airborne {
    font-family: 'Airborne', sans-serif;
}

.has-font-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.has-font-ptmono {
    font-family: 'PT Mono', monospace;
}

*:not(.has-font-akira):not(i):not(.pi):not(.has-font-ptmono):not(.p-dialog-title):not(.ignore-font) {
    font-family: 'Montserrat', sans-serif;
}
