@import 'primereact/resources/themes/lara-light-indigo/theme.css'; //theme
@import 'primereact/resources/primereact.min.css'; //core css
@import 'primeicons/primeicons.css'; //icons
@import 'primeflex/primeflex.css'; //flexbox

@import 'react-toastify/dist/ReactToastify.css';

@import '../components/commons/navbar/navbar.scss';
@import '../../pages/home/home.scss';
@import '../../pages/howitworks/how.scss';

.mint-button {
    background: none !important;
    position: relative;

    border: transparent;
    padding: 0.5rem 2rem;
    border-radius: 10px;

    font-family: 'Qatar', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: $ww;

    width: 300px;
    height: 120px;

    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 120px;
        background: url(/media/button_c.png) no-repeat;
        background-position: center center;
        background-size: contain;
    }

    &::after {
        content: 'Get a Team';
        position: absolute;
        top: 50%;
        left: 0;
        width: 300px;
        color: rgba($burgundy, 0.9);
        transform: translateY(-50%);
        font-size: 1.75rem;
    }

    &:hover {
        &::before {
            // shadow
            filter: drop-shadow(0px 0px 15px rgba(white, 0.25));
        }

        &::after {
            color: $burgundy;
        }
    }
}

.cooltitle {
    background-image: url(/media/button_c.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 2rem;
    color: $burgundy;

    padding: 0.25rem 1.5rem;
}

.cooltitle2 {
    background-image: url(/media/button_c.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    color: $burgundy;
}

.cooltitle3 {
    background-image: url(/media/button_cream.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 1rem;
    padding: 1rem 1rem;
    color: $burgundy;
}
