@import './vars';

$color1: rgb(218, 68, 68);
$color2: rgb(255, 255, 255);

/* width */
.coolscroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
.coolscroll::-webkit-scrollbar-track {
    background: $color2;
}

/* Handle */
.coolscroll::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, $color1 0%, $color2 100%);
    border-radius: 10px;
}

/* Handle on hover */
.coolscroll::-webkit-scrollbar-thumb:hover {
    background: rgba($color1, 0.6);
}

.coolscroll-small::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.coolscroll-small::-webkit-scrollbar-track {
    background: $color2;
    border-radius: 10px;
}

.coolscroll-small::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, $color1 0%, $color2 100%);
    border-radius: 10px;
}

.coolscroll-small::-webkit-scrollbar-thumb:hover {
    background: rgba($color1, 0.6);
}
