@use 'sass:map';

$burgundy: #000000;
$darkgrey: #3b3838;
$grey: #ebebeb;
$ww: #ffffff;
$gold: #c8af86;
$orange: #e54104;
$blue: #4a6be7;

$hcolors: (
    burgundy: $burgundy,
    darkgrey: $darkgrey,
    ww: $ww,
    gold: $gold,
    orange: $orange,
    grey: $grey,
    blue: $blue,
);

$hgras: ();

$z-index-glasspanel: 100;
