@use 'sass:map';

$burgundy: #1a1a1a;
$dark2: #1e1e1e;
$darkgrey: #3b3838;
$grey: #ebebeb;
$ww: #f2f2f2;
$gold: #c8af86;
$orange: #e54104;
$blue: #3e6eee;

$hcolors: (
    burgundy: $burgundy,
    dark2: $dark2,
    darkgrey: $darkgrey,
    ww: $ww,
    gold: $gold,
    orange: $orange,
    grey: $grey,
    blue: $blue,
);

$hgras: ();

$z-index-glasspanel: 100;
