@use 'sass:map';

$burgundy: #000000;
$darkgrey: #3b3838;
$ww: #ffffff;
$gold: #c8af86;

$hcolors: (
    burgundy: $burgundy,
    darkgrey: $darkgrey,
    ww: $ww,
    gold: $gold,
);

$hgras: ();

$z-index-glasspanel: 100;
